<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <remove name="LocalSqlServer" />
        <add connectionString="Server=112.124.68.183;Database=zhongcaiwang;User ID=mywtadmin;Password=admin" name="zcw" />
    </connectionStrings>
    <system.web>
        <compilation defaultLanguage="c#" />
    </system.web>
</configuration>
