body, ul, li, p {
 margin: 0;
 padding: 0;
}
ul{
 list-style-type:none;
}
body {
 font-family:"Times New Roman", Times, serif;
}
#box {
 position:relative;
 width:536px;
 height:227px;
 margin:10px auto;
 border: 1px solid #707070;
 background-color: #707070;
}
#box .imgList{
 position:relative;
 width:536px;
 height:227px;
 overflow:hidden;
}
#box .imgList li{
 position:absolute;
 top:0;
 left:0;
 width:536px;
 height:227px;
}
#box .countNum{
 position:absolute;
 right:0;
 bottom:5px;
}
#box .countNum li{
 width:16px;
 height:16px;
 float:left;
 color:#2E160C;
 border-radius:20px;
 background:#DDEBEB;
 text-align:center;
 margin-right:5px;
 cursor:pointer;
 opacity:0.7;
 filter:alpha(opacity=70);
 
}
#box .countNum li.current{
 background:#8DC3CF;
 font-weight:bold;
 opacity:1;
 filter:alpha(opacity=70);
}
